.app-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.app-container video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

.top-container {
  display: flex;
  max-height: 60%;
}

.today {
  flex-grow: 1;
}

.time {
  flex-grow: 1;
}

.bottom-container {
  flex: 1;
}
